site_name: Mother Tongues Dictionaries Documentation
theme:
  name: material
  favicon: favicon-32x32.png
  custom_dir: docs/overrides
  logo: logo_no_text.png
  palette:
    primary: white
  features:
    - content.code.copy
    - content.code.select
    - announce.dismiss
    - navigation.footer
plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [mothertongues]
extra:
  homepage: https://docs.mothertongues.org
  version:
    provider: mike
    default: stable
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: true
nav:
  - Home: index.md
  - Creating A Dictionary (No Code Guide): nocode/install.md
  - Creating A Dictionary (Advanced Developer Guide):
    - Installation: developer/prerequisites.md
    - Quick Start: developer/quickstart.md
    - Configuring your dictionary: guides/prepare.md
    - Building & publishing your dictionary: guides/build.md
  - Preparing your data: guides/prepare.md
  - Configuring the approximate search algorithm: guides/search.md
  - Misc Developer Guides:
    - Code Completion Tools: developer/vscode.md
    - Running Unit Tests: developer/unittests.md
    - Contributing: developer/Contributing.md
